header{
    height: 100px;
    background-color: blue;
}

.title{
    text-align: center;
}
p{
    font-weight: 600;
    text-align: justify;
}

.price{
    font-size: 24px;
    display: block;
    margin: 0 auto;
}

#cart{
    padding: 16px;
    width: 650px;
    margin: 0 auto;
    border: 2px solid blue;
}

#cart > input,
#cart > output{
    width: 75px;
    margin-right: 16px;
}
}

#result{
    font-weight: 500;
}